*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.gab img{
    width: 300px;
    margin-left: 300px;
    margin-top: 60px;
    margin-bottom: -496px;
    height: 400px;

}

.half{
    margin-top: 90px;
    margin-left: 300px;
    color:gray;
    align-items: center;
    justify-content: center;
    margin-left: 610px;
    background-color: ;
}
#gab{
    color:black;
    margin-top: 25px;
}
.secondhalf{

    margin-left: 610px;
    margin-top: 30px;
    margin-bottom: 30px;
    color: gray;

}

.firstdollar .first{
    margin-left: 610px;
    color:darkgreen;
    font-weight: bold;
    font-size: 30px;
}
.firstdollar #seconddollar{
    color:grey;
    margin-left: 720px;
    margin-top: -23px;
    text-decoration-line: line-through;
    
}
 .logo{
    padding: 20px;
    width: 220px;
    height: 30px;
    background-color: darkgreen;
    color: aliceblue;
    font-size: 20px;
    border-radius: 10px;
    border: 10px;
    margin-left: 610px;
    margin-top: 40px;
    padding-bottom: 40px
    

 }
 .logo svg{
    width: 15px;
    height: px;
 }
 .pef{
    margin-bottom: -15px;
 }
 
